@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

:root {
  --primary-color:#60A5FA;
  --dark-grey:#6B7280;
}

body {
  font-family: 'Nerko One', cursive;
  background-color: #ecfeff;
}

hr{
  margin: 2rem 0;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

.list-non-bullet{
  list-style: none;
}

.list-item-inline{
  display: inline;
  padding: 0 0.5rem;
}

.btn-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
}
.btn-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}

.border {
  background-color: var(--dark-grey);
  border-radius: 0.5rem;
  color: white;
  margin: 1rem;
  padding: 1rem;
}

.text-lg {
  font-size: large;
}

.text-sm {
  font-size: small;
}